.pageContainer {
  background-color: rgba(244, 244, 244, 1);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  padding: 30px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerTitle {
  color: rgba(51, 51, 51, 1);
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.headerLink {
  color: rgba(61, 84, 249, 1);
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.cardContainer {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(220, 220, 220, 0.25) 0 4 21;
  border-radius: 16px;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cardHeader {
  background-color: rgba(231, 231, 231, 1);
  width: 100%;
  padding: 12px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.cardHeaderText {
  color: rgba(168, 168, 168, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.cardDate {
  color: rgba(51, 51, 51, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.cardTime {
  color: rgba(51, 51, 51, 1);
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin: 20px 0;
}

.buttonGroup {
  display: flex;
  gap: 8px;
}